@model Guitar

<div class="col-lg-4">
    <img class="img-thumbnail" style="width: auto; height: 400px" src="@Model.img" alt="@Model.name" />
    <h5>@Model.Category.desc</h5>
    <h2>@Model.name</h2>
    <p>@Model.shortDesc</p>
    <p>Цена: @Model.price.ToString("c", CultureInfo.CreateSpecificCulture("ru-RU"))</p>
    <p><a class="btn btn-warning" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.id">В корзину</a></p>
</div>